@import "./common";


.center{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.copy{
	display:none;
}

.site-name{
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	// margin-top:5%;
	display:none;
}
.copy{
	font-size: 170px;
	font-weight: bold;
	letter-spacing: 5px;
	width: 50%;
	margin-top:-10%;
	margin-bottom:-18%;
}
.choices{
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	width: 400px;
	// margin-top: -10%;
	// margin-bottom: 10%;

	.one{
		float: left;
	}
	.two{
		float: right;
	}
}

@media (max-width: 480px) {
	.site-name{
		font-size:5pt;
	}

	.copy{
		font-size:45pt;
	}

	.choices{
		font-size:10pt;
		width: 350px;
		margin-top: 19%;
	}

	.two{
		margin-right: 150px;
	}
}